@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --background-color: #f2f2f2;
    --color-1: #e4e4e4;
    --color-2: #4e5925;
    --color-3: #92a64b;
    --color-4: #ad8f77;
    --acent-font: 'PT Serif', serif;
    --border-slant: 4vw;
}

img{
    border-radius: 5px;
}

p{
    text-align: center;
}

small{
    color: #8b8c8c;
    font-size: 20px;
}

div{
    padding: 3rem;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 50px;
    font-weight: 400;
}

h2{
    text-transform: uppercase;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
header > a{
    text-transform: uppercase;
    padding: 0.5rem;
    text-decoration: none;
    font-family: var(--acent-font);
    color: #8b8c8c;
    font-weight: 500;
    font-size: 20px;
    flex: 1 1 150px;
    display: grid;
    place-items: center;
}

header > a:hover{
    color: var(--color-3);
}

.accent-text{
    color: var(--color-4);
}

.slated-div{
    margin-right: -8px;
    margin-left: -8px;
    background-color: var(--color-1);
    border-width: 0;
    border-bottom-width: var(--border-slant);
    border-top-width: var(--border-slant);
    border-style: solid;
    border-color: transparent;
    clip-path: polygon(
        0 calc(0% + var(--border-slant)),
        100% 0,
        100% calc(100% - var(--border-slant)),
        0 100%
    );
}

#top{
    padding-top: 5vh;
    padding-right: 0;
    padding-left: 0;
    display: grid;
    place-items: center end;
    grid-template-columns: 1fr auto;
}
#top-img{
    margin-right: -8px;
    height: 95vh;
}

#top>div{
    padding: 0;
    text-align: center;
    width: 100%;
}

.small-img{
    flex: 0 1 150px;
    padding: 0;
    display: grid;
    place-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.small-img>img{
    width: 150px;
}

#img-container-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#overview>div.button-container{
    padding-top: 3vh;
    grid-template-columns: none;
}

#team>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#team>div>div{
    flex: 1 1 150px;
    padding: 0;
    display: grid;
    place-items: center;
    margin: 5px;
}

#team>div>div>a>img,
#team>div>div>img{
    width: 5vw;
    min-width: 70px;
}

.mapouter, .mapouter *, #location>div{
    padding: 0;
    border-radius: 5px;
}

.side-by-side{
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
}

.side-by-side>div{
    padding: 0;
    display: grid;
    place-items: center;
}

#location-text>p{
    font-size: larger;
}

#location-text{
    display: grid;
    place-items: center;
}

.carousel div{
    padding: 0;
}

#look{
    padding-top: 5rem !important;
    padding: 3rem;
}

#look .carousel-item{
    width: 70vw;
    min-width: 600px;
}

.carousel{
    display: grid;
    place-items: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-me{
    flex: 1 1 300px;
    padding: 0;
    display: grid;
    place-items: center;
    margin: 1vw;
}
.card-title{
    font-weight: 100;
    text-align: center;
}

.card-imag{
    width: 250px;
    height: 150px;
}

.cool-button{
    color: var(--color-4);
    padding: 10px;
    text-decoration: none;
    font-size: larger;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-4);
    border-radius: 5px;
    font-weight: 500;
    transition: color 0.2s;
    transition-timing-function: ease;
}

.cool-button:hover{
    background-color: var(--color-4);
    color: var(--color-1);
}

.button-container{
    width: 100%;
    padding: 0;
    display: grid;
    place-items: center;
}

.table{
    border-style: solid;
    border-radius: 10px!important;
    box-shadow: black;
    width: 50%!important;
}

#specifications{
    display: grid;
    place-items: center;
}

footer>div{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    padding-left: 20vw;
    padding-right: 20vw;
    gap: 2vw;
}

#survey{
    display: grid;
    place-items: center;
    max-height: 1750px;
    transition: all 1s ease 0s;
    overflow: hidden;
    padding: 3rem;
}

.transparent *{
    transition: all 1s ease 0s;
    opacity: 0;
}

#survey>div>div>div{
    padding: 5px;
}

#survey>div{
    display: grid;
    place-items: start;
    

}

.form-check{
    padding: 2px;
}

.form-check-input:checked{
    background-color: var(--color-4)!important;
    border-color: var(--color-4)!important;
}

#positiveFeedback,#negativeFeedback{
    display: grid;
    place-items: center;
}
@media(max-width:600px){
    .side-by-side{
        grid-template-columns: none;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    #top{
        grid-template-columns: none;
        margin-top: 20vh;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}